// В этом файле должны быть стили для БЭМ-блока main-nav, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

$gray-lightest:               hsl(0, 0%, 90%) !default;

$screen-xs:                   0 !default;
$screen-sm:                   480px !default;
$screen-md:                   768px !default;
$screen-lg:                   992px !default;
$screen-xl:                   1200px !default;
$screen-xxl:                  1800px !default;

$menu-desktop-width:          $screen-xl !default;
$toggler-part-height:         3px !default;
$toggler-part-bg-color:       #000 !default;

$transition-time:             0.3s !default;

// $full-height: ;

.main-nav {
  width: 100%;
  height: 0;
  overflow: hidden;
  animation: menu-close 0.2s ease-in-out 1 both;

  $block-name:                &; // #{$block-name}__element

  position: relative;
  z-index: 10;

  @media (min-width: $screen-xl) {
    width: auto;
    height: 100%;
    overflow: visible;
    animation: none;
  }

  &--open {
    //height: 250px;
    height: auto;
    overflow: visible;
    animation: menu-open 0.2s ease-in-out 1 both;

    @media (min-width: $screen-xl) {
      animation: none;
    }
  }

  // первый уровень
  &__list {
    // display: none;
    position: relative;
    margin: 0;
    padding: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    list-style: none;

    &::before {
      position: absolute;
      top: 0;
      left: -15px;
      content: "";
      display: block;
      width: calc(100% + 15px * 2);
      height: 1px;
      background-color: lightgray;

      @media (min-width: $screen-md) {
        left: -25px;
        width: calc(100% + 25px * 2);
      }

      @media (min-width: $screen-xl) {
        display: none;
      }
    }

    // мобильный вид списка
    @media (max-width: ($menu-desktop-width - 1)) {

      // открытие/закрытие меню только в случае работающего JS

      .js & {
        overflow: hidden;
        max-height: 0;
        transition: max-height 0.2s;
      }

      .js #{$block-name}--open & {
        max-height: 100vh;
        transition: max-height 0.6s;
      }
    }

    // настольный вид списка
    @media (min-width: $menu-desktop-width) {
      display: flex;
      flex-wrap: wrap;
      height: 100%;
      padding: 0;
    }

    &--lvl-2 {
      padding-left: 20px;
      padding-right: 20px;

      @media (min-width: $screen-xl) {
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 20px;
        padding-right: 20px;
      }
    }
  }

  &__item {
    // position: relative;
    width: 50%;
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 500;
    font-family: $font-family--headings;
    text-transform: uppercase;
    color: $text-color;

    &:hover {
      color: $color-warning;

      @media (min-width: $screen-xl) {
        border-bottom: 4px solid $color-warning;
      }
    }

    @media (min-width: $screen-xl) {
      position: relative;
      display: flex;
      align-items: stretch;
      width: auto;
      height: 100%;
      margin-bottom: 0;
      margin-left: 30px;
      margin-right: 30px;
      border-bottom: 4px solid transparent;

      &:last-child {
        margin-right: 0;
      }
    }

    &.active {
      color: $color-warning;
      pointer-events: none;

      a::before {
        position: absolute;
        top: 0;
        left: -15px;
        content: "";
        display: block;
        width: 5px;
        height: 100%;
        background: currentColor;

        @media (min-width: $screen-md) {
          left: -10px;
        }

        @media (min-width: $screen-xl) {
          /* top: initial;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 4px; */
          display: none;
        }
      }

      @media (min-width: $screen-xl) {
        border-bottom: 4px solid $color-warning;
      }
    }

    &--lvl-2 {
      width: 100%;

      &:hover {
        @media (min-width: $screen-xl) {
          border-color: transparent;
        }
      }

      &.active {
        border-color: transparent !important;
      }

      @media (min-width: $screen-xl) {
        position: static;
        width: 100% !important;
        flex-grow: 1;
        flex-shrink: 0;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 15px;
        color: $white;
      }
    }
  }

  &__link {
    position: relative;
    display: block;
    padding: 0.2em 0.5em 0.2em 0.5em;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    // background-color: #fff;

    &:hover,
    &:focus {
      text-decoration: none;
      background: none;

      &:hover::before,
      &:focus::before {
        position: absolute;
        top: 0;
        left: -15px;
        content: "";
        display: block;
        width: 5px;
        height: 100%;
        background: currentColor;

        @media (min-width: $screen-md) {
          left: -10px;
        }

        @media (min-width: $screen-xl) {
          display: none;
        }
      }
    }

    @media (min-width: $screen-xl) {
      display: block;
      width: 100%;
      margin-left: auto;
      margin-right: auto;
      padding: 30px 0;
    }

    &--lvl-2 {
      color: $white;

      &:hover,
      &:focus {
        text-decoration: underline;
      }

      &:hover::before,
      &:focus::before {
        display: none !important;

        @media (min-width: $screen-xl) {
          display: none !important;
        }
      }

      @media (min-width: $screen-xl) {
        padding: 0;
        padding-left: 0;
        padding-right: 0;
        color: $white;
        background-color: transparent;
      }
    }
  }

  &__sublist-wrapper {

    &--lvl-2 {
      // Второй уровень меню
      display: none;
      position: absolute;
      z-index: 5;
      top: 0;
      left: 50%;
      width: calc(50% + 15px);
      height: 100%;
      overflow-y: auto;
      background: radial-gradient(279.87px at 0% 0%, #F4C967 0%, #EDA757 100%);
      animation: opacity 0.2s ease-in-out 1 forwards;

      @media (min-width: $screen-md) {
        width: calc(50% + 25px);
      }

      @media (min-width: $menu-desktop-width) {
        position: absolute;
        top: 100%;
        // left: 0;
        left: -50%;
        z-index: 1;
        width: 160px;
        opacity: 0;
        height: auto;
        // height: 0;
        overflow: hidden;
        transition: opacity $transition-time;

        // stylelint-disable  max-nesting-depth
        #{$block-name}__item--show-child > &,
        #{$block-name}__item:hover & {
          opacity: 1;
          height: auto;
          overflow: visible;
        }
        // stylelint-enable
      }
    }

    &--open {
      display: block;
    }
  }



  // переключатель

  &__toggler {
    display: inline-block;
    padding: 0;
    background: none;
    border: none;

    .no-js & {
      display: none;
    }

    @media (min-width: $menu-desktop-width) {
      display: none;
    }
  }
}
