.page-header {
  position: relative;
  z-index: 100;
  max-width: 1180px;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: $screen-md) {
    display: flex;
    flex-wrap: wrap;
  }

  @media (min-width: $screen-xl) {
    box-shadow: 0 3px 6px -3px rgba(0, 0, 0, 0.25);
  }

  $block-name:                &; // #{$block-name}__element

  .logo {
    padding-top: 6px;
    padding-bottom: 6px;
    margin-right: auto;
    margin-left: auto;

    img {
      display: block;
      margin: auto;
    }

    @media (min-width: $screen-xl) {
      margin-left: 0;
      margin-right: 0;
    }
  }

  &__nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    @media (min-width: $screen-md) {
      border-bottom: 1px solid $gray-lightest;
    }

    @media (min-width: $screen-xl) {
      flex-wrap: nowrap;
      height: 80px;
      border: none;
    }
  }
}
