// В этом файле должны быть стили для БЭМ-блока actions-page, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.actions-page {
  margin-top: 30px;
  margin-bottom: 30px;
  padding-top: 20px; // $light-bg-color
  background-color: $light-bg-color;

  @media (min-width: $screen-md) {
    padding-top: 30px;
    padding-left: 60px;
    padding-right: 60px;
  }

  @media (min-width: $screen-xl) {
    margin-top: 50px;
    margin-bottom: 50px;
    padding-left: 25px;
    padding-right: 25px;
  }

  $block-name:                &; // #{$block-name}__element

  &__col {
    margin-bottom: 30px;

    @include col (
      $screen:  xs,
      $column:  $grid-columns,
      $columns: $grid-columns,
      $gutter:  $grid-gutter-width
    )

    @include col-offset (
      $screen: sm,
      $column: 1,
      $columns: $grid-columns
    )

    @include col (
      $screen:  sm,
      $column:  10,
      $columns: $grid-columns,
      $gutter:  $grid-gutter-width
    )

    @include col-offset (
      $screen: md,
      $column: 0,
      $columns: $grid-columns
    )

    @include col (
      $screen:  md,
      $column:  6,
      $columns: $grid-columns,
      $gutter:  $grid-gutter-width
    )

    @include col (
      $screen:  lg,
      $column:  6,
      $columns: $grid-columns,
      $gutter:  $grid-gutter-width
    )

    @include col (
      $screen:  xl,
      $column:  4,
      $columns: $grid-columns,
      $gutter:  $grid-gutter-width
    )

    @media (min-width: $screen-xl) {
      margin-bottom: 40px;
    }
  }

  &__item {
    &:hover {
      box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
    }
  }
}

