.hero {
  margin-bottom: 30px;
  // background: radial-gradient(circle 200vw at -50% 50%, #08D4B3 0%, #452FBA 100%);

  @include container (
    $xs-grid-gutter: 0,
    $sm-grid-gutter: 0,
    $md-grid-gutter: 0,
    $lg-grid-gutter: 0,
    $xl-grid-gutter: 0
  )

  @media (min-width: $screen-lg) {
    margin-bottom: 50px;
  }

  $block-name:                &; // #{$block-name}__element

  &__slider {
    // padding-top: 20px;
    // padding-bottom: 10px;

    @media (min-width: $screen-md) {
      // padding-top: 80px;
      // padding-bottom: 80px;
    }

    @media (min-width: $screen-lg) {
      // padding-top: 50px;
      // padding-bottom: 20px;
    }
  }

  &__item {
    padding-top: 20px;
    padding-bottom: 50px;
    padding-left: 20px;
    padding-right: 20px;
    background-image: radial-gradient(1256.70px at 0% 0%, #57A6F0 0%, #6DC4F8 100%);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;

    @media (min-width: $screen-md) {
      display: flex;
      justify-content: space-between;
      padding-top: 50px;
      padding-bottom: 50px;
    }

    @media (min-width: $screen-lg) {
      padding-left: 25px;
      padding-right: 25px;
      margin-bottom: 0;
    }

    @media (min-width: $screen-xl) {
      padding-top: 60px;
      padding-bottom: 60px;
      padding-left: 70px;
      padding-right: 70px;
    }
  }

  &__text {
    display: flex;
    flex-direction: column;
    flex-shrink: 1;
    margin-bottom: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 15px;
    background: rgba(255, 255, 255, 0.1);
    border-left: 5px solid $white;

    p {
      margin: 0;
      font-family: $font-family--headings;
      font-size: 16px;
      font-weight: 400;
      color: $white;
    }

    p + p {
      margin-top: 10px;
    }

    @media (min-width: $screen-md) {
      width: calc(60% - 25px);
      margin-bottom: 0;
    }

    @media (min-width: $screen-lg) {
      width: calc(70% - 25px);
    }
  }

  &__para {

  }

  &__title {
    margin-top: 0;
    margin-bottom: 15px;
    text-transform: uppercase;
    color: $white;

    @media (min-width: $screen-md) {
      margin-bottom: 25px;
    }

    @media (min-width: $screen-xl) {

    }
  }

  &__link-wrapper {
    margin-top: auto !important;
    text-align: center;

    @media (min-width: $screen-md) {
      text-align: right;
    }
  }

  &__link-btn {
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    color: $white;
    border-left: 2px solid currentColor;
    border-right: 2px solid currentColor;
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
    transition: all 0.3s ease;

    &:hover {
      text-decoration: none;
      border: 2px solid currentColor;
    }

    @media (min-width: $screen-md) {
      padding-left: 25px;
      padding-right: 25px;
    }
  }

  &__img-wrapper {
    height: 200px;
    max-width: 100%;
    background-image: url(../img/banner-img-1.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;

    /* img {
      display: inline-block;
      width: auto;
      height: 100%;
      object-fit: contain;
      object-position: center;
    } */

    @media (min-width: $screen-md) {
      width: 40%;
      margin-top: auto;
      margin-bottom: auto;
    }

    @media (min-width: $screen-lg) {
      width: 30%;
    }
  }

  .owl-dots {
    position: absolute;
    bottom: 10px;
    left: 0;
    width: 100%;
    margin-top: 0 !important;

    @media (min-width: $screen-xl) {
      bottom: 15px;
    }
  }

  .owl-dot span {
    background: rgba(255, 255, 255, 0.53);
  }

  .owl-dot.active span {
    background: $white;
  }

  .owl-nav {
    position: absolute;
    width: 1180px;
    top: 50%;
    left: 0;
    transform: translateY(-30px);
    display: flex;
    justify-content: space-between;
    margin-top: 0;
    pointer-events: none;

    & > button {
      position: relative;
      width: 35px;
      height: 55px;
      pointer-events: auto;

      & span {
        display: none;
      }

      &::before {
        position: absolute;
        top: 11.5px;
        left: 50%;
        transform: translate(-18px, 6px) rotate(45deg);
        content: "";
        display: block;
        width: 22px;
        height: 22px;
        border-top: 3px solid rgba(0, 0, 0, 0.35);
        border-right: 3px solid rgba(0, 0, 0, 0.35);
      }
    }

    .owl-prev,
    .owl-next {
      background-color: rgba(255, 255, 255, 0.35) !important;

      &:hover,
      &:active {
        background-color: rgba(255, 255, 255, 0.8) !important;
      }

      &:focus {
        outline: none;
      }
    }

    & .owl-prev {
        &::before {
          transform: translate(-6px, 6px) rotate(-135deg);
        }
    }
  }

}
