@keyframes phone-open {
  0% {
    height: 80px;
  }

  100% {
    height: 170px;
  }
}

@keyframes phone-close {
  0% {
    height: 170px;
  }

  100% {
    height: 80px;
  }
}



@keyframes block-close {
  0% {
    height: 170px;
    background: radial-gradient(261.60px at 0% 0%, #57A6F0 0%, #6DC4F8 100%);
  }

  100% {
    height: 50px;
    background: none;
  }
}

@keyframes block-open {
  0% {
    height: 50px;
    background: none;
  }

  100% {
    height: 170px;
    background: radial-gradient(261.60px at 0% 0%, #57A6F0 0%, #6DC4F8 100%);
  }
}

@keyframes menu-open {
  0% {
    height: 0;
    overflow-x: hidden;
  }

  99,9% {
    //height: 0;
    overflow-x: hidden;
  }

  100% {
    //height: 285px;
    height: 100vh;
    overflow: visible;
  }
}

@keyframes menu-close {
  0% {
    //height: 285px;
    height: 100vh;
  }

  0,1% {
    overflow: hidden;
  }

  100% {
    height: 0;
    overflow: hidden;
  }
}

@keyframes opacity {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
