.dropdown {

  $block-name:                &; // #{$block-name}__element

  position: relative;
  display: inline-block;
  color: #849399;

  &__toggler {
    position: relative;

    &::before {
      position: absolute;
      z-index: 1;
      content: '';
      right: 20px;
      top: 46%;
      transform-origin: center;
      transform: translate(0, -46%) rotate(-135deg);
      width: 8px;
      height: 8px;
      border-width: 1px 0 0 1px;
      border-style: solid;
      border-color: currentColor;
      transition: transform $transition-time;
    }
  }

  &__menu {
    position: absolute;
    z-index: -1;
    top: 100%;
    left: 0;
    max-width: 90vw;
    width: 1px;
    margin: 0;
    //background-color: #fff;
    color: $text-color;
    background-image: radial-gradient(194.03px at 0% 0%, #57A6F0 0%, #6DC4F8 100%);
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    transition: opacity $transition-time;

    &--up {
      top: auto;
      bottom: 100%;
    }

    &--right {
      left: auto;
      right: 0;
    }
  }

  &__item {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
  }

  &__link {
    display: inline-block;
    vertical-align: top;
    padding: 5px 10px;
    font-family: $font-family--headings;
    font-weight: 500;
    text-transform: uppercase;
    color: $white;
  }

  &--open & {

    &__toggler {

      &::before {
        transform: translate(0, -15%) rotate(45deg);
      }
    }

    &__menu {
      z-index: 1;
      width: 100%;
      visibility: visible;
      opacity: 1;
      border-bottom-left-radius: $border-radius;
      border-bottom-right-radius: $border-radius;
    }
  }
}
