// В этом файле должны быть стили для БЭМ-блока owl-carousel, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.owl-carousel {
  // По умолчанию в сборку берется стилевой файл этого блока, предоставляемый
  // автором пакета (см. файл настройки проекта, там подключается
  // node_modules/owl.carousel/dist/assets/owl.carousel.css).
  // Надо стилизовать — копипастить из исходника и убирать исходник из сборки.

  .owl-nav {
    margin-top: 10px;
    text-align: center;
    -webkit-tap-highlight-color: transparent;
  }

  .owl-nav [class*='owl-'] {
    color: #FFF;
    font-size: 0;
    margin: 0;
    padding: 0;
    background: rgba(255, 255, 255, 0.53);
    display: inline-block;
    cursor: pointer;
    border-radius: 3px;
  }

  .owl-nav [class*='owl-']:hover {
    background: rgba(255, 255, 255, 0.9);
    color: #FFF;
    text-decoration: none;
  }

  .owl-nav .disabled {
    opacity: 0.5;
    cursor: default;
  }

  .owl-nav.disabled + .owl-dots {
    margin-top: 10px;
  }

  .owl-dot {
    display: inline-block;
    zoom: 1;
    *display: inline;
  }

  .owl-dot span {
    width: 35px;
    height: 5px;
    margin: 5px 7px;
    background: #D6D6D6;
    display: block;
    -webkit-backface-visibility: visible;
    transition: opacity 200ms ease;
    border-radius: 5px;
  }

  .owl-dot.active span,
  .owl-dot:hover span {
    background: #869791;
  }

  .owl-dots {
    text-align: center;
    -webkit-tap-highlight-color: transparent;
  }
}
